@keyframes stillSlide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow {
  50% {
    top: -6rem;
    opacity: 0;
  }
  100% {
    top: -5rem;
  }
}
