@media screen and (max-width: 690px) {
  .nav__box--item {
    display: none;
  }
  nav {
    padding: 0.4rem 4rem;
  }
  nav::after {
    display: contents;
    content: "⋮";
    color: #b8dfc9;
    font-size: 1.8rem;
    font-weight: 1000;
  }
  .frontPage__box--title{
    display: block;
    width: 80%;
    margin-left: -2rem;
    margin-top: -1rem;
    font-size: 3rem;
  }
  .main-wrapper__container{
    width: 70%;
  }
  .modal{
    width: 60%;
    margin: auto;
  }

}

@media (prefers-color-scheme: dark) {
  body {
    --darkMode: true;
  }
}

@media (prefers-color-scheme: light) {
  body {
    --darkMode: false;
  }
}

@media (hover){
  .cont_card{
      transform: translateY(70%);
      transition: transform 500ms ease;
  }
  .card:hover .cont_card > *:not(.card_title),
  .card:focus-within .cont_card > *:not(.card_title){
      opacity: 1;
      transition-delay: 1000ms;
  }
  .card:hover .cont_card,
  .card:focus-within .cont_card{
      transform: translateY(0);
      transition-delay: 500ms;
  }
  .card:focus-within .cont_card{
      transition-duration: 0ms;
  }
  .cont_card > *:not(.card_title){
      opacity: 0;
      transition: opacity 500ms linear;
  }
  .card_title::after{
      transform: scaleX(0);
  }
}

