@media screen and (max-width: 720px) {
  .nav__box--item > a {
    display: none;
  }
  li.nav__box--item > svg {
    display: block;
  }

  .nav__box--item:hover::after {
    transform: scaleX(0);
    opacity: 0;
  }
  .main-wrapper__container--flexbox div {
    flex-direction: column;
  }
  .main-wrapper__container--flexbox {
    max-height: fit-content;
    margin: 3rem;
  }
  .main-wrapper__container--flexbox > div > div {
    width: 100%;
  }
  nav {
    padding: 0.4rem 4rem;
  }

  .frontPage__box--title {
    display: block;
    font-size: 3rem;
  }
  .main-wrapper__container {
    width: 70%;
  }
  .modal {
    width: 60%;
    margin: auto;
  }
  .logoPaths {
    display: none;
    position: absolute;
  }
  .verPedidos-wrapper__container {
    flex-direction: column;
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --darkMode: true;
  }
}

@media (prefers-color-scheme: light) {
  body {
    --darkMode: false;
  }
}
